.navbar {
    color: rgb(113, 202, 183);
}

#gif-logo {
    max-height: 100px;
    max-width: 100px;
}

#bgBackground {
    background-color: rgb(113, 202, 183);
}

.page-container {
    padding: 20px 45px;
}

#search-container {
    background-color: rgb(221, 173, 82);
    padding: 10px;
}


.bgWhite {
    background-color: white;
} 

#map {
    margin-bottom: 10px;
    height: 100%; 
    /* Change height back to 75% when using the yelp bar */
}

#map-display {
    background-color: white;
    height: 100%;
    background: url("https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg");
}



.starcontainer {
    position: relative;
    height: 25px;
    width: 110px;
    white-space: nowrap;
}

.starcontainer .inactive {
    position: absolute;
    color: grey
}

.starcontainer .active {
    position: absolute;
    color: gold;
    display: inline-block;
    overflow: hidden;
}

footer {
    background-color: rgb(221, 173, 82);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 55%;
  width: 25px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 5%;
  background-color: rgb(221, 173, 82);
}

.carousel-control-next-icon:after
{
  font-size: 55px;
  color: rgb(221, 173, 82);
}

.carousel-control-prev-icon:after {
  font-size: 55px;
  color: rgb(221, 173, 82);
}

.carousel-control-prev {
    justify-content: right;
}


.carousel-control-next {
   
    justify-content: flex-end;
}


.fa-star {
    color: rgb(255, 0, 0);
}

i {
    color: rgb(113, 202, 183);
}

.biz-gif {
    max-width: 200px;
    max-height: 200px;
}

.card-header {
    background-color: red;
    color: white;
}

.fa-yelp {
    color: white;
}

.loading-indicator {
    position: absolute; 
    z-index: 9001;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 145px;
    visibility: hidden;
}






/*########### MEDIA QUERIES ############# */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }